:root {
	--c-top: Khaki;
	/* --c-middle: rgb(255, 255, 255); */
	--c-bottom: goldenrod;
}
body {
	background-color: darkgreen;
}

#base {
	z-index: 1;
}
#cheek {
	z-index: 2;
}
#eye {
	z-index: 3;
}
#brow {
	z-index: 4;
}
#mouth {
	z-index: 4;
}
#hat {
	z-index: 4;
}

.c-bottom {
	fill: var(--c-bottom);
}
.c-worry {
	--c-top: #37b9ff;
	--c-bottom: #fec92b;
}

#face-svg {
	max-width: 20rem;
}

.face {
	display: grid;
	grid-template-areas: stack;
	place-items: center;
	width: 150px;

	& > img,
	& > svg {
		grid-area: stack;
		width: 200px;
	}
}

.cls-1,
.cls-2 {
	fill: #1a1a1a;
}
.cls-1 {
	opacity: 0;
}
/* face bg */
.cls-3 {
	fill: #022905;
}
.cls-skin {
	fill: rgb(236, 231, 130);
}
/* chin */
.cls-4 {
	fill: var(--c-bottom, crimson);
}
.cls-5 {
	fill: #fff;
}
line {
	stroke-linecap: round;
	stroke: #476475;
	stroke-miterlimit: 10;
	stroke-width: 4px;
}
.cls-6 {
	fill: red;
}
.cls-7 {
	fill: slategrey;
}
.cls-skyblue {
	fill: skyblue;
}
.cls-red {
	fill: #e62e49;
}
.cls-pink {
	fill: #ff608a;
}
.cls-pink-2 {
	fill: #c1506e;
}
.cls-gold {
  fill: rgb(237, 234, 159);
}
.cls-tounge {
	fill: red;
}
.cls-white {
	fill: white;
}
.cls-tooth {
	fill: rgb(170, 214, 215);
}
.cls-tooth-2 {
	fill: rgb(126, 151, 152);
}
.cls-water-2 {
	fill: #37b9ff;
}
.cls-water-1 {
	fill: #1778ff;
}
.cls-horns {
	fill: var(--c-bottom);
}
.cls-ice-2 {
	fill: #fff;
}
.cls-ice {
	fill: #cef;
}
.cls-brown-1,
.cls-brown-2 {
	fill: #1a1a1a;
}
.cls-brown-1 {
	opacity: 0;
}
.cls-brown-3 {
	fill: #9c3d29;
}
.cls-brown-4 {
	fill: #fec92b;
}
.cls-brown-5 {
	fill: #fdaf18;
}
.cls-brown-6 {
	fill: #fff;
}
.cls-brown-7 {
	fill: #c62d43;
}
.cls-brown-8 {
	fill: #bb5938;
}
.cls-brown-9 {
	fill: #de9c5a;
}
.cls-disguise-1,
.cls-disguise-2 {
	fill: #1a1a1a;
}
.cls-disguise-1 {
	opacity: 0;
}
.cls-disguise-3 {
	fill: #fec92b;
}
.cls-disguise-4 {
	fill: #fdaf18;
}
.cls-disguise-5 {
	fill: #9c3d29;
}
.cls-disguise-6 {
	fill: #bb5938;
}
.cls-disguise-10,
.cls-disguise-7 {
	fill: none;
	stroke: #476475;
	stroke-miterlimit: 10;
	stroke-width: 4px;
}
.cls-disguise-7 {
	stroke-linecap: round;
}
.cls-disguise-8 {
	fill: #fff;
}
.cls-disguise-9 {
	fill: #476475;
}
.cls-disguise-11 {
	fill: #fc9504;
}

.cls-vomit-1,
.cls-vomit-2 {
	fill: #1a1a1a;
}
.cls-vomit-1 {
	opacity: 0;
}
.cls-vomit-3 {
	fill: #fec92b;
}
.cls-vomit-4 {
	fill: #fdaf18;
}
.cls-vomit-5 {
	fill: #39b54a;
}
.cls-vomit-6 {
	fill: #008751;
}
.cls-vomit-7 {
	fill: #fff;
}
.cls-vomit-8 {
	fill: #65d666;
}
.cls-monocle-7 {
	fill: #7b97a6;
}
.cls-monocle-8 {
	opacity: 0.2;
}
.cls-monocle-10,
.cls-monocle-9 {
	fill: none;
	stroke: #7b97a6;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 4px;
}
.cls-monocle-10 {
	stroke-dasharray: 0.85 4.23;
}
.cls-party-1,
.cls-party-2 {
	fill: #1a1a1a;
}
.cls-party-1 {
	opacity: 0;
}
.cls-party-3 {
	fill: #fec92b;
}
.cls-party-4 {
	fill: #fdaf18;
}
.cls-party-5 {
	fill: none;
	stroke: #1778ff;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 3px;
}
.cls-party-6 {
	fill: #ff608a;
}
.cls-party-7 {
	fill: #a0f;
}
.cls-party-8 {
	fill: #65d666;
}
.cls-party-9 {
	fill: #37b9ff;
}
.cls-party-10 {
	fill: #e62e49;
}
.cls-party-11 {
	fill: #ff366a;
}
.cls-robot-1,
.cls-robot-2 {
	fill: #1a1a1a;
}
.cls-robot-1 {
	opacity: 0;
}
.cls-robot-3 {
	fill: #7b97a6;
}
.cls-robot-4 {
	fill: #d3dee3;
}
.cls-robot-5 {
	fill: #abc0c9;
}
.cls-robot-6 {
	fill: #1778ff;
}
.cls-robot-7 {
	fill: none;
	stroke: #fec92b;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 3px;
	stroke-dasharray: 4 7;
}
.cls-robot-8 {
	fill: #0049c7;
}
.cls-robot-9 {
	fill: #e62e49;
}
.cls-robot-10 {
	fill: #ffa8a1;
}
.cls-shadow {
	fill: black;
	opacity: 0.1;
}
.cls-sunglasses-1,
.cls-sunglasses-2 {
	fill: #1a1a1a;
}
.cls-sunglasses-1 {
	opacity: 0;
}
.cls-sunglasses-3 {
	fill: #fec92b;
}
.cls-sunglasses-4 {
	fill: #fdaf18;
}
.cls-sunglasses-5 {
	fill: #fff;
}
.cls-sunglasses-6 {
	fill: #324652;
}
.cls-sunglasses-7 {
	fill: #476475;
}
.cls-sunglasses-8 {
	fill: #5d7c8c;
}

#category-tabs {
	--br: 10px;
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-evenly;

	& > button {
		flex: 1;
		border: solid navy 1px;
		padding: 0.3rem;
		background: linear-gradient(
			180deg,
			skyblue 10%,
			rgb(79, 147, 174) 60%,
			rgb(62, 62, 197) 80%,
			navy 100%
		);
		color: white;
	}

	& > button:first-child {
		border-top-left-radius: var(--br);
		border-bottom-left-radius: var(--br);
	}
	& > button:last-child {
		border-top-right-radius: var(--br);
		border-bottom-right-radius: var(--br);
	}
}

.tileset-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.2rem;

	& > button {
		height: 5rem;
		border-radius: 15px;
		/* aspect-ratio: 1; */

		& > svg {
			filter: drop-shadow(rgba(0, 0, 0, 0.329) 2px 2px 3px);
			height: 100%;
		}
	}
}

button:hover {
	cursor: pointer;
	filter: brightness(1.2);
}
button:active {
	cursor: pointer;
	filter: brightness(0.8);
}

.hidden {
	display: none;
}

.avatar-preview {
	display: flex;
	justify-content: space-between;
  margin-bottom: 1rem;
}

.grid {
	display: grid;
}

.z-0 {
	z-index: 0;
}

fieldset {
  & label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}