:root {
	--c-top: Khaki;
	/* --c-middle: rgb(255, 255, 255); */
	--c-bottom: goldenrod;
	--brow-y-offset: -10px;
	--brow-x-offset: 0px;
	--brow-scale: 1;
	--brow-rotation: 0deg;
}
body {
	background-color: darkgreen;
}

#base {
	z-index: 1;
}
#cheek {
	z-index: 2;
}
#eye {
	z-index: 3;
}
#brow {
	z-index: 4;
}
#mouth {
	z-index: 4;
}
#hat {
	z-index: 4;
}

.c-worry {
	--c-top: #37b9ff;
	--c-bottom: #fec92b;
}

.face {
	display: grid;
	grid-template-areas: stack;
	place-items: center;
	width: 150px;

	& > img,
	& > svg {
		grid-area: stack;
		width: 200px;
	}
}

.cls-1,
.cls-2 {
	fill: #1a1a1a;
}
.cls-1 {
	opacity: 0;
}
/* face bg */
.cls-3 {
	fill: #022905;
}
/* chin */
.cls-4 {
	fill: var(--c-bottom, crimson);
}
.cls-5 {
	fill: #fff;
}
.cls-6 {
	color: red;
}

ellipse.brow,
path.brow {
	transform-origin: center;
	transform-origin: 50% 50%;
	transition: transform 0.3s ease;
}

ellipse.brow.left,
path.brow.left {
	/* transform-origin: center left; */
	transform: translate(var(--brow-x-offset, 0px), var(--brow-y-offset, 0px))
		scale(var(--brow-scale, 1)) rotate(var(--brow-rotation, 0deg));
    /* ! causes int transform issues */
	/* translate: var(--brow-x-offset, 0px) var(--brow-y-offset, 0px); */
	/* scale: var(--brow-scale, 1); */
}
ellipse.brow.right,
path.brow.right {
	/* transform-origin: center right; */
	transform: translate(
			calc(var(--brow-x-offset, 0px) * -1),
			var(--brow-y-offset, 0px)
		)
		scale(var(--brow-scale, 1)) rotate(calc(var(--brow-rotation, 0deg) * -1));
	/* ! causes init transform issues */
	/* translate: calc(var(--brow-x-offset, 0px) * -1) var(--brow-y-offset, 0px); */
	/* scale: var(--brow-scale, 1); */
}

#category-tabs {
	--br: 10px;
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-evenly;

	& > button {
		flex: 1;
		border: solid navy 1px;
		padding: 0.3rem;
		background: linear-gradient(
			180deg,
			skyblue 10%,
			rgb(79, 147, 174) 60%,
			rgb(62, 62, 197) 80%,
			navy 100%
		);
		color: white;
	}

	& > button:first-child {
		border-top-left-radius: var(--br);
		border-bottom-left-radius: var(--br);
	}
	& > button:last-child {
		border-top-right-radius: var(--br);
		border-bottom-right-radius: var(--br);
	}
}

.tileset-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.2rem;

	& > button {
		height: 5rem;
		border-radius: 15px;
		/* aspect-ratio: 1; */

		& > svg {
			filter: drop-shadow(rgba(0, 0, 0, 0.329) 2px 2px 3px);
			height: 100%;
		}
	}
}

button:hover {
	cursor: pointer;
	filter: brightness(1.2);
}
button:active {
	cursor: pointer;
	filter: brightness(0.8);
}

.hidden {
	display: none;
}

.avatar-preview {
	display: flex;
	justify-content: space-between;
}

.grid {
	display: grid;
}
